<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>2번째 게시판</title>

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
            crossorigin="anonymous"></script>

    <!-- style.css -->
    <link rel="stylesheet" href="css/style.css">

    <style>
        .header{
            /*background-color : #e4f4f5;*/
            /*height: 75px;*/
            position: relative;
        }

        .section{
            margin: auto;
            /*border: solid black 2px;*/
            width: 65%;
            height: 100%;
        }
    </style>

    <script>

    </script>

</head>
<body>
    <header class="header">
        <div id="header-title-login-user">
            <span th:text="${username}"></span> 환영합니다
        </div>
        <div id="header-title-select-shop">
            Bulletin Board
        </div>

        <form id="my_form" method="post" action="/user/logout">
            <a id="logout-text" href="javascript:{}" onclick="document.getElementById('my_form').submit();">로그아웃</a>
        </form>
    </header>

    <section class="section">
        <div>
            <button class="btn btn-primary" type="submit" style="margin: 25px auto 25px auto; display: block;"
                    onclick="writePost()">글쓰기</button>
        </div>
        <div style="height: 500px">
            <table class="table">
                <thead class="thead-light">
                <tr>
                    <th scope="col">번호</th>
                    <th scope="col">제목</th>
                    <th scope="col">작성자</th>
                    <th scope="col">시간</th>
                    <th scope="col">삭제</th>
                </tr>
                </thead>
                <tbody class="tbody-class">
                </tbody>
            </table>
        </div>
    </section>

    <footer></footer>
</body>
</html>